{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}
{% if request.user.is_staff  %}
  <a href="{% url 'Game:home' %}">back to home</a><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>rut</th>
        <th>nickname</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
      <a href="{% url 'Game:Coach_add' %}">add</a>
      {% for b in Coach %}
      <tr>
        <td>{{ b.user }}</td>
        <td>{{ b.age }}</td>
        <td>{{ b.email }}</td>
        <td>{{ b.rut }}</td>
        <td>{{ b.user }}</td>
        <td>
          <a href="{% url 'Game:Coach_update' b.id %}">edit</a>
          <a href="{% url 'Game:Coach_delete' b.id %}">delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <a href="{% url 'Game:home' %}">back to home</a><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>rut</th>
        <th>nickname</th>


      </tr>
    </thead>
    <tbody>

      {% for b in Coach %}
      <tr>
        <td>{{ b.user }}</td>
        <td>{{ b.age }}</td>
        <td>{{ b.email }}</td>
        <td>{{ b.rut }}</td>
        <td>{{ b.user }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}

