{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Registrar </title>
{% endblock %}


{% block antes_del_body%}

{% endblock %}


{% block body %}
<br>

<h2>Registrar</h2>
                <form method="post">

                    {% csrf_token %}
                    <br>
                            {% for field in form %}
                                <div>
                                    {{field.label_tag}}
                                    {{field}}

                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                </div>
                                <br>
                                
                            {% endfor %}
                            <br>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </from>


                </form>

{% endblock %}

