{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Teams</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}
{% if request.user.is_staff  %}
<a href="{% url 'Game:home' %}">back to home</a><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>code</th>
      <th>coach</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'Game:Team_create' %}">add</a>
    {% for b in teams %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.code }}</td>
      <td>{{ b.coach }}</td>
      <td><img src="{{ b.photo }}"  alt="" height="100px" width="100px"  class="rounded-circle"></td>
      <td>
        <a href="{% url 'Game:Team_update' b.id %}">edit</a>
        <a href="{% url 'Game:Team_delete' b.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<a href="{% url 'Game:home' %}">back to home</a><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>code</th>
      <th>coach</th>
      
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'Game:Team_create' %}">add</a>
    {% for b in teams %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.code }}</td>
      <td>{{ b.coach }}</td>
      <td><img src="{{ b.photo }}"  alt="" height="100px" width="100px"  class="rounded-circle"></td>
  
    </tr>
    {% endfor %}
  </tbody>

{% endif %}

{% endblock %}