{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}    
<br>
<br>
<h1>Basket App</h1>
<br>
<br>
<br>


<ul>
    <a href="{% url 'Game:indexCoach' %}"> Entrenadores</a>
    <br>
    <a href="{% url 'Game:indexTeam' %}">Equipos</a>
    <br>
    <a href="{% url 'Game:indexPlayer' %}">Jugadores</a>
    <br>
    <a href="{% url 'Game:matchs_list' %}">Partidas jugadas</a>
    <br>

</ul>
<h2>Last 5 players</h2>
    
<ul>
    {% for player in last_5_players %}
    <li>{{player.name}} ({{player.nickname}})</li>
    {% endfor %}
</ul>

<h2>Last 5 Matchs</h2>
<ul>
    {% for match in last_5_matchs %}
    <li>{{match.team1.player.first.team.name}} <strong>VS</strong> {{match.team2.player.first.team.name}}</li>
    {% endfor %}
</ul>

<h2>Teams</h2>
<ul>
    {% for team in teams %}
    <li>{{team.name}} (tiene {{team.count_player}} jugadores)</li>
    {% endfor %}
</ul>
  
{% endblock %}

