{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}    

<br>
<h2>Iniciar Sesión</h2>
<!-- Formulario-->
<form method="post">

    {% csrf_token %}
    <br>
    <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username"class="form-control">
    </div>
     
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" name="password"class="form-control">
    </div>
    <br>
   
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

</form>
{% endblock %}

